body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* CSS from the Leaflet-Choropleth documentation */
/*Link Source: https://leafletjs.com/examples/choropleth/*/
.legend {
  padding: 6px 8px;
  line-height: 18px;
  color: #555555;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
